*{
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.googleFace {
    width: 100%;
    height: 40px;
    text-align: center;
    outline: none;
}
